Options +ExecCGI
AddHandler cgi-script cgi

AddType text/xml .xml
AddType text/xml .xsl

<Files config.txt>
    <Limit GET>
    deny from all
    </Limit>
</Files>

<IfModule mod_dir.c>
     DirectoryIndex _p.cgi
</IfModule>
